@use '@angular/material' as mat;

/* Tailwind v4: manual class-based dark mode enable karne ke liye */

html {
  height: 100%;
  color-scheme: light;

  @include mat.form-field-density(-3);

  .mat-mdc-form-field .mdc-floating-label {
    font-size: 14px !important;
  }

  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 0px !important;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px !important;
  }

  :root {
    --app-dialog-width: 90vw;
    --app-dialog-height: auto;

    --app-dialog-max-width: 600px;
    --app-dialog-max-height: 90vh;
  }

  // /* Mobile: 0 - 639px */
  // @media (max-width: 639px) {
  //   :root {
  //     --app-dialog-width: calc(100vw - 24px);
  //     --app-dialog-height: auto;

  //     --app-dialog-max-width: calc(100vw - 24px);
  //     --app-dialog-max-height: calc(100vh - 24px);
  //   }
  // }

  // /* Small Tablet: 640 - 767px */
  // @media (min-width: 640px) and (max-width: 767px) {
  //   :root {
  //     --app-dialog-width: 90vw;
  //     --app-dialog-max-width: 560px;
  //     --app-dialog-max-height: 90vh;
  //   }
  // }

  // /* Tablet: 768 - 1023px */
  // @media (min-width: 768px) and (max-width: 1023px) {
  //   :root {
  //     --app-dialog-width: 80vw;
  //     --app-dialog-max-width: 600px;
  //     --app-dialog-max-height: 90vh;
  //   }
  // }

  // /* Laptop: 1024 - 1279px */
  // @media (min-width: 1024px) and (max-width: 1279px) {
  //   :root {
  //     --app-dialog-width: 650px;
  //     --app-dialog-max-width: 70vw;
  //     --app-dialog-max-height: 90vh;
  //   }
  // }

  // /* Desktop: 1280px+ */
  // @media (min-width: 1280px) {
  //   :root {
  //     --app-dialog-width: 700px;
  //     --app-dialog-max-width: 700px;
  //     --app-dialog-max-height: 90vh;
  //   }
  // }



  @include mat.theme((color: (theme-type: light,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html.dark {
  color-scheme: dark;

  @include mat.theme((color: (theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}